/*右侧关注*/
.contact-widget{
    position: fixed;
    right: 10px;
    bottom: 155px;
    width: 80px;
    height: 150px;
    text-align: center;
    border-radius: 2px;
    z-index: 100;
}
.widget-item{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 50px;
    padding: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.widget-item img{
    width: 36px;
}
.item1{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    top:0;
}
.item2{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    top:50px
}
.widget-code{
    position: absolute;
    opacity: 0;
    right: 80px;
    bottom: -33px;
}
.widget-item:hover{
    background-color: rgba(0,0,0,0.6);
}
.widget-code img{
    width: 170px;
}
/*返回顶部*/
.backtotop{
    position: absolute;
    border-radius: 2px;
    top: 100px;
    display: none;
}
.backtotop img{
    width: 36px;
    z-index: 999;
}
/*在线咨询*/
.message{
    position: fixed;
    box-sizing: border-box;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 1000000000;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    height: 40px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    background-color: #62c8c4
}
.message .pic{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url("../img/s-img/s-erji.png") no-repeat center/cover;
}
.message .line1{
    display: block;
    float: left;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, .08);
    vertical-align: middle;
}
.message>.btn3{
    display: block;
    float: left;
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    overflow-y: hidden;
    font-size: 13px;
    color: #fff;
}
/*弹框*/
.uniqueway-girl{
    position: fixed;
    right: 210px;
    bottom: -46px;
    height: 89px;
    transition: all 0.7s;
    z-index: 9999;
}
.uniqueway-girl:hover{
    bottom: 0;
}
.girl-image{
    width: 92px;
    height: 100%;
    cursor: pointer;
    background: url("../img/s-img/people.png") no-repeat center/cover;
}
/*联系您*/
.concat{
    position: fixed;
    bottom: 0;
    left: -480px;
    transition: all 1s;
    height: 200px;
    z-index: 9000;
}
a{
    color: #333333;
}
.concatbig{
    width: 480px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    float: left;
}
.concatsmall{
    float: left;
    width: 54px;
    height: 132px;
    background-color: #F34C28;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: inline-block;
}
.concatbig>img{
    float: left;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 134px;
    height: 200px;
}
.concattao{
    width: 296px;
    height: 119px;
    float: left;
    padding: 40px 0 0 20px;
}
.concattao>h2{
    margin-bottom: 10px;
    line-height: 1.1;
    font-size: 20px;
    color: #333333;
    font-weight: 500;
}
.concattao>p{
    font-size: 12px;
    color: #808080;
    font-weight: 200;
}
.concattao>form{
    height: 45px;
    margin-top: 25px;
    border-radius: 3px;
    border: 1px solid #ecebe4;
}
.concattao>form>input{
    width: 170px;
    height: 45px;
    padding-left: 20px;
    outline: none;
    float: left;
    border: 0;
}
.concattao>form>button{
    float: left;
    height: 45px;
    padding: 0 10px;
    background-color: #F34C28;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    border-radius:0 3px 3px 0 ;
    border: none;
}
.concatx{
    width: 25px;
    height: 25px;
    float: left;
    background: url("../img/s-img/wedx.png") no-repeat center/cover;
    cursor: pointer;
}
.concatsmall>p{
    width: 14px;
    margin: 14px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
    float: left;
}
.concatsmall>span{
    display: block;
    float: left;
    width: 15px;
    height: 30px;
    background: url("../img/s-img/wedright.png") no-repeat left/cover;
    margin-top: 50px;
}
/*header*/
.header{
    width: 100%;
    height: 73px;
    padding: 15px 0;
    transition: all 0.15s linear;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #ffffff;
}
.tel-icon>img{
    width: 30px;
    height: 30px;
}
.logo>img{
    width: 140px;
    height: 42px;
}
.header-center{
    width: 1140px;
    height: 43px;
    margin: auto;
}
.logo{
    width: 170px;
    height: 42px;
    float: left;
}
.header-nav{
    width: 604px;
    height: 25px;
    float: left;
    margin-top: 10px;
}
.header-nav li{
    float: left;
    padding-bottom: 5px;
    margin-right: 30px;
}
.header-nav li a{
    padding-bottom: 3px;
    font-size: 14px;
}
.header-nav li a:hover{
    border-bottom: 2px solid #65c8c4;
    color: #333;
}
.header-nav li.on a{
    color: #5fc6c2;
    border-bottom: 2px solid #65c8c4;
}
.header-nav li a:hover,.header-nav li a:active,.header-nav li a:visited{
    border-bottom: 2px solid #65c8c4;
    text-decoration: none;
}
.header-contact{
    width: 160px;
    height: 30px;
    float: left;
    border-radius: 2px;
    border: 1px solid #969696;
    margin: 6px 10px 6px 105px;
}
.tel-icon{
    width: 30px;
    height: 28px;
    float: left;
    background-color: #918682;
}
.header-contact p{
    color: #918682;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    margin: 0 3px;
}
.refer{
    font-size: 12px;
    color: #fff;
    margin: 6px 5px 6px 0;
    background-color: #f64b19;
    padding: 0 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    float: right;
    text-decoration: none;
}
/*footer*/
body{
    overflow-x: hidden;
}
.footer{
    width: 100%;
    height: 264px;
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
    color: #669797;
}
.footer-container{
    width: 1140px;
    height: 140px;
    margin: auto;
}
.footer-list{
    width: 1140px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
}
.clearfix{
    width: 1200px;
    height: 17px;
    margin: 10px auto 15px;
}
.clearfix li {
    display: inline;
    border-left: 1px solid #669797;
    padding: 0 16px;
    margin-bottom: 17px;
    color: #669797;
}
.clearfix li:first-child{
    border-left: none;
}
.clearfix li a{
    color: #669797;
}
.clearfix li.links a{
    margin-left: 6px;
}
.clearfix li.links a.link{
    position: relative;
}
.clearfix li.links a img{
    width: 18px;
    vertical-align: middle;
}
.clearfix li.links a img.download{
    width: 150px;
    position: absolute;
    top: -155px;
    left: -67px;
    z-index: 999;
    display: none;

}
.clearfix li.links a:hover img.download{
    display: block;
}
.footer-content{
    width: 100%;
    height: 124px;
    background-color: #524641;
}
.footer-contain{
    width: 1230px;
    height: 124px;
    margin: auto;
}
.row{
    margin: 0 -15px;
}
.footer-logo{
    width: 25%;
    float: left;
    text-align: right;
}
.footer-logo a img{
    position: relative;
    left: -70px;
    width: 176px;
    margin-top: 30px;
}
.footer-text{
    width: 74.5%;
    float: right;
}
.text-container{
    position: relative;
    width: 100%;
    margin-top: 46px;
    text-align: left;
}
.text-container span{
    color: #918682;
    font-size: 11px;
    text-align: left;
    margin: 4px 0;
    padding-right: 14px;
    line-height: 20px;
}
.text-container span a{
    color: #918682;
}
.tel-icon>img{
    width: 30px;
    height: 30px;
}
