@media (min-width: 640px) {
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    body{
        color: #333;
        font-size: 14px;
        font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
        overflow-x: hidden;
    }
    /*bookbanner*/
    .bookbanner{
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        outline: 0 none;
        overflow: auto;
        position: fixed;
        text-align: center;
        z-index: 10000;
        background-color: rgba(0,0,0,.4);
        transition-duration: 300ms;
        display: none;
    }
    /*header*/
    .header{
        width: 100%;
        height: 73px;
        padding: 15px 0;
        transition: all 0.15s linear;
        border-bottom: 1px solid #e5e5e5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        background-color: #ffffff;
    }
    .header-center{
        width: 1140px;
        height: 43px;
        margin: auto;
    }
    .logo{
        width: 170px;
        height: 42px;
        float: left;
    }
    .header-nav{
        width: 604px;
        height: 25px;
        float: left;
        margin-top: 10px;
    }
    .header-nav li{
        float: left;
        padding-bottom: 5px;
        margin-right: 30px;
    }
    .header-nav li a{
        padding-bottom: 3px;
        font-size: 14px;
    }
    .header-nav li.on a{
        color: #5fc6c2;
        border-bottom: 2px solid #65c8c4;
    }
    .header-nav li a:hover{
        border-bottom: 2px solid #65c8c4;
    }
    .header-contact{
        width: 160px;
        height: 30px;
        float: left;
        border-radius: 2px;
        border: 1px solid #969696;
        margin: 6px 10px 6px 105px;
    }
    .tel-icon{
        width: 30px;
        height: 28px;
        float: left;
        background-color: #918682;
    }
    .header-contact p{
        color: #918682;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        font-family: 'Titillium Web', sans-serif;
        float: left;
        margin: 0 3px;
    }
    .refer{
        font-size: 12px;
        color: #fff;
        margin: 6px 0;
        background-color: #f64b19;
        padding: 0 15px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        margin-right: 5px;
        float: right;
        text-decoration: none;
    }
    /*container*/
    .container{
        background-color: #F5F4EF;
        margin-top: 73px;
    }
    /*slider*/
    .slider{
        width: 100%;
        height: 800px;
        background: url("../img/y-img/banner_index_one.jpg") no-repeat center;
    }
    .detail{
        padding-top: 300px;
        color: #ffffff;
        text-align: center;
    }
    .detail h3{
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .detail p{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 9px;
    }
    /*worry*/
    .worry{
        width: 100%;
        height: 800px;
        background: url("../img/y-img/index_block_worry.jpg") no-repeat center;
        position: relative;
    }
    .worry .desc{
        width: 500px;
        position: absolute;
        top: 200px;
        left: calc(50% - 500px);
        text-align: center;
    }
    .desc h3{
        font-size: 36px;
        color: #544641;
        font-weight: 200;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .desc h3 span{
        color: #63C6C2;
    }
    .desc p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        color: #918682;
        margin: 0 0 10px;
    }
    .desc a{
        display: block;
        width: 188px;
        height: 40px;
        margin: 30px auto 0;
        border: 2px solid #63C6C2;
        font-size: 20px;
        line-height: 36px;
        color: #63C6C2;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
    }
    .desc a:hover{
        color: #fff;
        background-color: #63C6C2;
    }
    /*guidebook*/
    .guidebook{
        width: 100%;
        height: 800px;
        background: url("../img/y-img/index_block_guidebook.jpg") no-repeat center;
        position: relative;
    }
    .guidebook .desc{
        width: 433px;
        position: absolute;
        top: 200px;
        right: calc(50% - 600px);
        text-align: center;
    }
    .desc h3{
        font-size: 36px;
        color: #544641;
        font-weight: 200;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    /*story*/
    .story{
        width: 100%;
        height: 800px;
        position: relative;
        background-color: #fff;
        padding: 40px 0 20px;
    }
    /*desc*/
    .story .desc{
        width: 100%;
        height: 245px;
        text-align: center;
    }
    /*story-container*/
    .story-container{
        width: 1104px;
        margin: 35px auto;
        height: 414px;
    }
    .slide{
        display: inline-block;
        width: 276px;
        transition: all 0.3s;
        height: 414px;
        position: relative;
        float: left;
    }
    .slide:hover{
        transform: scale(1.05);
        box-shadow: 5px 5px 30px 5px rgba(0,0,0,.05),-5px -5px 30px 5px rgba(0,0,0,.05);
        z-index: 99;
    }
    .slide a.one{
        display: block;
        height: 414px;
        width: 100%;
        background: url("../img/y-img/c-img.png") no-repeat;
        z-index: 4;
    }
    .slide a.two{
        display: block;
        height: 414px;
        width: 100%;
        background: url("../img/y-img/c-img1.png") no-repeat;
        z-index: 2;
    }
    .slide a.three{
        display: block;
        height: 414px;
        width: 100%;
        background: url("../img/y-img/c-img2.png") no-repeat;
        z-index: 3;
    }
    .slide a.four{
        display: block;
        height: 414px;
        width: 100%;
        background: url("../img/y-img/c-img3.png") no-repeat;
        z-index: 4;
    }
    .slide a span{
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        padding: 150px 15px 20px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
    }
    /*form*/
    .form{
        width: 100%;
        height: 800px;
        background: url("../img/y-img/home_bottom.jpg") no-repeat center/cover #e6e6e6;
    }
    .bg{
        height: 800px;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .form-wrapper{
        position: relative;
        width: 1140px;
        height: 800px;
        margin: 0 auto;
    }
    /*contact-form*/
    .contact-form{
        position: absolute;
        top: 158px;
        right: 72px;
        width: 480px;
        height: 420px;
        color: #fff;
        padding: 20px 0px;
        margin: 16px auto 0;
    }
    .contact-form .title{
        line-height: 1.1;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: -1.2px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact-form .sub-title{
        margin-bottom: 42px;
        font-size: 16px;
        font-weight: 300;
        line-height: 2.12;
        letter-spacing: -0.5px;
    }
    .contact-form form .row{
        width: 480px;
        margin: 20px auto;
        height: 48px;
    }
    .contact-form form .text{
        height: 85px;
    }
    .row input{
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
        outline: none;
    }
    .row .name{
        width: 140px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .row .place{
        width: 182px;
    }
    .row .days{
        width: 156px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .row .phone{
        width: 100%;
        border-radius: 3px;
    }
    .row .comment{
        color: #b6aea2;
        border: none;
        background: white;
        margin: 0;
        outline: none;
        width: 100%;
        height: 80px;
        border-radius: 3px;
        padding: 11px;
        resize: none;
        font: inherit;
    }
    .row button{
        color: white;
        font-size: 18px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: 6px;
        text-align: center;
        background-color: #63C6C2;
        margin-top: 10px;
    }
    /*form-text*/
    .form-text{
        position: absolute;
        top: 197px;
        left: 143px;
        width: 320px;
        height: 200px;
    }
    .form-text p{
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 2.22;
        letter-spacing: normal;
        color: #ffffff;
    }
    .form-text p.tit,.form-text p span.tit{
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
    }
    .form-text p.tit-1{
        font-size: 20px;
        font-weight: 600;
        line-height: 2.0;
    }
    .line{
        position: absolute;
        top: 434px;
        left: 155px;
        width: 281px;
        height: 2px;
        background-color: #fff;
    }
    .maru{
        position: absolute;
        top: 422px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        background-color: #58c6c2;
    }
    .circle1{
        left: 155px;
     }
    .circle2{
        left: 289px;
    }
    .circle3{
        left: 423px;
    }
    .maru-text{
        position: absolute;
        top: 457px;
        width: 100px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    .text1{
        left: 119px;
    }
    .text2{
        left: 252px;
    }
    .text3{
        left: 384px;
    }
    /*footer*/
    .footer{
        width: 100%;
        height: 294px;
        font-size: 12px;
        margin-top: 50px;
        text-align: center;
        color: #669797;
    }
    .footer-container{
        width: 1140px;
        height: 140px;
        margin: auto;
    }
    .footer-list{
        width: 1140px;
        height: 115px;
        margin: 0 auto;
        text-align: center;
    }
    .clearfix{
        width: 1200px;
        height: 17px;
        margin: 10px auto 15px;
    }
    .clearfix li {
        display: inline;
        border-left: 1px solid #669797;
        padding: 0 16px;
        margin-bottom: 17px;
        color: #669797;
    }
    .clearfix li:first-child{
        border-left: none;
    }
    .clearfix li a{
        color: #669797;
    }
    .clearfix li.links a{
        margin-left: 6px;
        color: rgba(255,255,255,0);
    }
    .clearfix li.links a.link{
        position: relative;
    }
    .clearfix li.links a img{
        width: 18px;
        vertical-align: middle;
    }
    .clearfix li.links a img.download{
        width: 150px;
        position: absolute;
        top: -155px;
        left: -67px;
        z-index: 999;
        display: none;

    }
    .clearfix li.links a:hover img.download{
        display: block;
    }
    .site-link{
        width: 100%;
        background-color: #524641;
        height: 111px;
    }
    .link-title{
        margin: 0 0 15px;
        padding-top: 30px;
        line-height: 1.1;
        font-weight: bold;
        font-size: 14px;
        color: rgba(255,255,255,0.5);
    }
    .link-text{
        width: 1050px;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 28px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    .link-text a{
        float: left;
        font-size: 16px;
        color: #918682;
        margin-right: 133px;
    }
    .link-text a.last{
        margin-right: 0;
    }
    .footer-content{
        width: 100%;
        height: 124px;
        background-color: #524641;
    }
    .footer-contain{
        width: 1230px;
        height: 124px;
        margin: auto;
    }
    .row{
        margin: 0 -15px;
    }
    .footer-logo{
        width: 25%;
        float: left;
        text-align: right;
    }
    .footer-logo a img{
        position: relative;
        left: -70px;
        width: 176px;
        margin-top: 30px;
    }
    .footer-text{
        width: 74.5%;
        float: right;
    }
    .text-container{
        position: relative;
        width: 100%;
        margin-top: 46px;
        text-align: left;
    }
    .text-container span{
        color: #918682;
        font-size: 11px;
        text-align: left;
        margin: 4px 0;
        padding-right: 14px;
        line-height: 20px;
    }
    .text-container span a{
        color: #918682;
    }
}
@media (max-width: 639px) {
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    /*header*/
    .header{
        width: 100%;
        height: 36px;
        padding:12px 0;
        transition: all 0.15s linear;
        border-bottom: 1px solid #e5e5e5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        background-color: #ffffff;
    }
    .header-center{
        width: 580px;
        height: 36px;
        margin: auto;
    }
    .logo{
        width: 170px;
        height: 42px;
        float: left;
    }
    .header-nav{
        width: 604px;
        height: 25px;
        float: left;
        margin-top: 10px;
    }
    .header-nav li{
        float: left;
        padding-bottom: 5px;
        margin-right: 30px;
    }
    .header-nav li a{
        padding-bottom: 3px;
        font-size: 14px;
    }
    .header-nav li.on a{
        color: #5fc6c2;
        border-bottom: 2px solid #65c8c4;
    }
    .header-nav li a:hover{
        border-bottom: 2px solid #65c8c4;
    }
    .header-contact{
        width: 160px;
        height: 30px;
        float: left;
        border-radius: 2px;
        border: 1px solid #969696;
        margin: 6px 10px 6px 105px;
    }
    .tel-icon{
        width: 30px;
        height: 28px;
        float: left;
        background-color: #918682;
    }
    .header-contact p{
        color: #918682;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        font-family: 'Titillium Web', sans-serif;
        float: left;
        margin: 0 3px;
    }
    .refer{
        font-size: 12px;
        color: #fff;
        margin: 6px 0;
        background-color: #f64b19;
        padding: 0 15px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        margin-right: 5px;
        float: right;
        text-decoration: none;
    }
    /*footer*/
    .footer{
        width: 100%;
        height: 294px;
        font-size: 12px;
        margin-top: 123px;
        text-align: center;
        color: #669797;
    }
    .footer-container{
        width: 1140px;
        height: 140px;
        margin: auto;
    }
    .footer-list{
        width: 1140px;
        height: 115px;
        margin: 0 auto;
        text-align: center;
    }
    .clearfix{
        width: 1220px;
        height: 17px;
        margin: 10px auto 15px;
    }
    .clearfix li {
        display: inline;
        border-left: 1px solid #669797;
        padding: 0 17px;
        margin-bottom: 17px;
        color: #669797;
    }
    .clearfix li:first-child{
        border-left: none;
    }
    .clearfix li a{
        color: #669797;
    }
    .clearfix li.links a{
        margin-left: 6px;
    }
    .clearfix li.links a.link{
        position: relative;
    }
    .clearfix li.links a img{
        width: 18px;
        vertical-align: middle;
    }
    .clearfix li.links a img.download{
        width: 150px;
        position: absolute;
        top: -155px;
        left: -67px;
        z-index: 999;
        display: none;

    }
    .clearfix li.links a:hover img.download{
        display: block;
    }
    .footer-content{
        width: 100%;
        height: 124px;
        background-color: #524641;
    }
    .footer-contain{
        width: 1230px;
        height: 124px;
        margin: auto;
    }
    .row{
        margin: 0 -15px;
    }
    .footer-logo{
        width: 25%;
        float: left;
        text-align: right;
    }
    .footer-logo a img{
        position: relative;
        left: -70px;
        width: 176px;
        margin-top: 30px;
    }
    .footer-text{
        width: 74.5%;
        float: right;
    }
    .text-container{
        position: relative;
        width: 100%;
        margin-top: 46px;
        text-align: left;
    }
    .text-container span{
        color: #918682;
        font-size: 11px;
        text-align: left;
        margin: 4px 0;
        padding-right: 14px;
        line-height: 20px;
    }
    .text-container span a{
        color: #918682;
    }
}
