@media screen and (min-width:640px){
    .nav-collapse{
        display: none;
    }
    /*页脚表单*/
    .wayform{
        width: 100%;
        height: 800px;
        background:url("../img/s-img/place19.png") no-repeat center/cover;
        overflow: hidden;
    }
    .wayformtao{
        width: 480px;
        height: 500px;
        margin:110px auto 0;
        color: #fff;
        overflow: hidden;
    }
    .wayformp1{
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 1.1;
        text-align: center;
    }
    .wayformp2{
        font-size: 16px;
        font-weight: 300;
        line-height: 2.12;
        letter-spacing: -0.5px;
        margin: 0 0 10px;
        text-align: center;
        color: #fff;
    }
    .wayform>form{
        width: 480px;
        height: 390px;
        overflow: hidden;
    }
    .ul1{
        width: 480px;
        height: 48px;
        margin: 20px auto;
        overflow: hidden;
    }
    .ul1>li{
        float: left;
        margin: 0 10px 0 0;
        width: 150px;
        height: 42px;
        position: relative;
    }
    li>input{
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        width: 13px;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
        opacity: 0.011;
        z-index: 100;
        background-color: #fff;
        position: absolute;
        left: 0;
    }
    li>label{
        color: #5e3008;
        text-align: center;
        cursor: pointer;
        z-index: 90;
        height: 42px;
        line-height: 42px;
        border: none;
        background-color: #FFF;
        border-radius: 3px;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        width: 134px;
        float: left;
        position: absolute;
    }
    label:hover{
        background: #F8F8F3;
    }
    .ul2{
        width: 480px;
        margin: 20px auto;
        height: 48px;
    }
    .ul2>.inp1{
        width: 140px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .ul2>.inp2{
        width: 182px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .ul2>.inp3{
        width: 135px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .phone{
        width: 460px;
        border-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        margin: auto;
        border-right: 1px solid #e6e6e6;
    }
    .comment{
        width: 470px;
        height: 80px;
        padding: 11px;
        border: 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 20px auto;
        box-sizing: border-box;
    }
    .submit{
        color: white;
        font-size: 18px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: 6px;
        text-align: center;
        background-color: #63C6C2;
        margin: 20px 150px 0;
    }
    /*内容*/
    .placecon{
        width: 100%;
        overflow: hidden;
        background-color: #f0f0f0;
    }
    .placenav{
        width: 100%;
        height: 40px;
        margin-top:30px ;
        overflow: hidden;
    }
    .placetao{
        width: 1140px;
        height: 20px;
        margin: 0 auto;
        font-size: 14px;
        color: #B7AEA2;
        line-height: 20px;
    }
    .placetao>a:nth-child(1){
        color: #63C6C2;
        display: inline-block;
        font-size: 12px;
    }
    .placetao>a:nth-child(2){
        color: #63C6C2;
        display: inline-block;
        font-size: 12px;
    }
    .mobilechangdi{
        display: none;
    }
    .placetao>a:nth-child(3){
        display: inline-block;
        font-size: 12px;
        color: #b7aea2;
        cursor: text;
    }
    .placeban{
        width: 100%;
        height: 380px;
        background: url("../img/s-img/place3.jpg") no-repeat center/cover;
    }
    .dan{
        width: 90%;
        max-width: 200px;
        height: 80px;
        margin: 0 auto;
        color: #ffffff;
        background: url("../img/s-img/weedingred.png") no-repeat center/cover;
        background-position-y: -27px;
    }
    .cn{
        line-height: 4.1;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.6px;
        color: #fff;
        margin-left: 25px;
    }
    .en{
        line-height: 4.1;
        font-size: 18px;
        letter-spacing: -0.6px;
        color: #fff;
    }
    .placeban-border{
        margin: 100px auto 0;
        width: 652px;
        height: 120px;
        border-radius: 2px;
        border: solid 0.5px #ffffff;
        overflow: hidden;
    }
    .sub-wrapper{
        margin: 10px auto;
        width: 632px;
        height: 100px;
        border-radius: 2px;
        background-color: rgba(255,255,255,0.8);
        overflow: hidden;
    }
    .placep1{
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 4px;
        text-align: center;
        color: #544641;
    }
    .placep2{
        font-size: 14px;
        letter-spacing: 4px;
        text-align: center;
        color: #544641;
    }
    .plabtn{
        display: none;
    }
    .plabtn>span{
        line-height: 30px;
        font-size: 12px;
        color: #fff;
        letter-spacing: -0.4px;
    }
    /*婚礼场地*/
    .changdi{
        width: 1140px;
        margin: 0 auto;
    }
    .title{
        width: 176px;
        height: 30px;
        line-height: 30px;
        margin: 40px auto 20px;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: -1px;
        color: #544641;
        text-align: center;
    }
    .placebox{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    }
    .placeitem1{
        position: relative;
        width: 1080px;
        height: 700px;
        margin: 0 auto 30px;
    }
    .placeimgs{
        position: relative;
        width: 1080px;
        height: 700px;
        overflow: hidden;
    }
    .imgstao{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .imgstao>img{
        width: 1080px;
        height: 700px;
        z-index: 100;
        float: left;
    }
    .left{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        width: 25px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        background: url(../img/s-img/placeleft.png) no-repeat center;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
    }
    .right{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        width: 25px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        background: url(../img/s-img/placeright.png) no-repeat center;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
    }
    .placenum{
        position: absolute;
        z-index: 1;
        top: 40px;
        right: 30px;
        width: 35px;
        height: 24px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .numtao1{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .numtao2{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .placon1{
        width: 800px;
        margin: 0 auto;
        line-height: 1.57;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.5px;
        text-align: center;
        color: #ffffff;
    }
    .placewrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        height: 160px;
        border-radius: 2px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        z-index: 1;
    }
    .titp,.titp3{
        width: 200px;
        height: 30px;
        line-height: 1.67;
        margin: 20px auto 5px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
    }
    /*婚礼亮点*/
    .light{
        width: 1140px;
        margin: 0 auto;
        height: 650px;
        overflow: hidden;
    }
    .posi{
        position: relative;
        width: 720px;
        height: 570px;
        border-radius: 2px;
        background-color: #ffffff;
        float: left;
        margin-right: 20px;
    }
    .liglefttao{
        overflow: hidden;
        width: 720px;
        height: 570px;
    }
    .lightleft{
        width: 400%;
        height: 100%;
    }
    .lightright{
        width: 400px;
        height: 570px;
        float: left;
    }
    .righttop{
        width: 400px;
        height: 270px;
        margin-bottom: 30px;
        position: relative;
    }
    .rightbot{
        width: 400px;
        height: 270px;
        position: relative;
    }
    .rigtop1{
        width: 720px;
        height: 100%;
        position: relative;
        float: left;
    }
    .rigtop1>img{
        width: 720px;
        height: 570px;
    }
    .placewrapper2{
        position: absolute;
        bottom: 0;
        width: 720px;
        height: 130px;
        text-align: center;
        border-radius: 2px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        z-index: 1;
    }
    .swiper-container{
        display: none;
    }
    .mobile_footer{
        display: none;
    }
    .placon2{
        width: 500px;
        margin: 0 auto;
        line-height: 1.57;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.5px;
        text-align: center;
        color: #ffffff;
    }
    .img2{
        width: 400px;
        height: 270px;
    }
    .titp2{
        position: absolute;
        bottom: 0;
        width: 400px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        color: #fff;
        border-radius: 2px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        z-index: 1;
    }
    .spotlig1{
        position: absolute;
        left: 30px;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 40px;
        background: url(../img/s-img/spotleft.png) no-repeat center;
        opacity: 0.35;
        z-index: 500;
        cursor: pointer;
        background-size: 27px 44px;
        margin: auto 0;
    }
    .spotlig2{
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 40px;
        margin: auto 0;
        background: url(../img/s-img/spotright.png) no-repeat center;
        z-index: 500;
        cursor: pointer;
        background-size: 27px 44px;
        opacity: 0.35;
    }
    .spotnum{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.6);
        font-size: 12px;
        color: #fff;
        letter-spacing: -0.4px;
        z-index: 1;
    }
    /*更多目的地*/
    .more{
        width: 1140px;
        margin: 0 auto 20px;
    }
    .mudis{
        width: 1140px;
        height: 420px;
    }
    .mudisa{
        position: relative;
        width: 270px;
        height: 180px;
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
        background: darkgray;
        box-sizing: border-box;
    }
    .mudisa>img{
        width: 270px;
        height: 180px;
    }
    .aname{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 140px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
}
@media screen and (max-width:640px){
    .nav-collapse{
        width: 100%;
        height: 420px;
        z-index: 999;
        display: none;
        overflow-y: scroll;
    }
    .nav-collapse>ul{
        margin-top: 8px;
        width: 100%;
        border-top: 1px solid #f5f4ef;
        background: #fff;
        float: left;
        height: 500px;
    }
    .nav-collapse>ul>li{
        background: #fff;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #f5f4ef;
        line-height: 50px;
        padding-left: 30px;
    }
    .mobilehead{
        display: block;
        width: 100%;
        height: 120px;
        padding: 30px 0;
        border-bottom: 1px solid #e5e5e5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        background-color: #fff;
    }
    .mhead{
        width: 570px;
        margin: 0 auto;
    }
    .mhead>img{
        width: 240px;
        float: left;
    }
    .mhs{
        float: right;
        margin-bottom: 8px;
        padding: 5px 10px;
        border-radius: 4px;
        height: 48px;
        background-color: #fff;
        border: 0;
    }
    .icon-bar{
        margin-top: 8px;
        display: block;
        width: 44px;
        height: 2px;
        border-radius: 1px;
        background-color: #533e3b;
    }
    .header{
        display: none;
    }
    .footer{
        display: none;
    }
    .mobile_footer{
        width: 100%;
        height: 160px;
        padding-top: 44px;
        padding-bottom: 80px;
        text-align: center;
        background-color: #f5f4ef;
        display: block;
        box-sizing: border-box;
    }
    .contact-widget{
        display: none;
    }
    .mobilitem{
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        text-align: center;
        color: #918682;
    }
    .concat{
        display: none;
    }
    .message{
        display: none;
    }
    .uniqueway-girl{
        display: none;
    }
    /*页脚表单*/
    .wayform{
        width: 100%;
        height: 800px;
        background:url("../img/s-img/place19.png") no-repeat center/cover;
        overflow: hidden;
    }
    .wayformtao{
        width: 480px;
        height: 500px;
        margin:110px auto 0;
        color: #fff;
        overflow: hidden;
    }
    .wayformp1{
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 1.1;
        text-align: center;
    }
    .wayformp2{
        font-size: 16px;
        font-weight: 300;
        line-height: 2.12;
        letter-spacing: -0.5px;
        margin: 0 0 10px;
        text-align: center;
        color: #fff;
    }
    .wayform>form{
        width: 480px;
        height: 390px;
        overflow: hidden;
    }
    .ul1{
        width: 480px;
        height: 48px;
        margin: 20px auto;
        overflow: hidden;
    }
    .ul1>li{
        float: left;
        margin: 0 10px 0 0;
        width: 150px;
        height: 42px;
        position: relative;
    }
    li>input{
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        width: 13px;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
        opacity: 0.011;
        z-index: 100;
        background-color: #fff;
        position: absolute;
        left: 0;
    }
    li>label{
        color: #5e3008;
        text-align: center;
        cursor: pointer;
        z-index: 90;
        height: 42px;
        line-height: 42px;
        border: none;
        background-color: #FFF;
        border-radius: 3px;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        width: 134px;
        float: left;
        position: absolute;
    }
    label:hover{
        background: #F8F8F3;
    }
    .ul2{
        width: 480px;
        margin: 20px auto;
        height: 48px;
    }
    .ul2>.inp1{
        width: 140px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .ul2>.inp2{
        width: 182px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .ul2>.inp3{
        width: 135px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .phone{
        width: 460px;
        border-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        margin: auto;
        border-right: 1px solid #e6e6e6;
    }
    .comment{
        width: 470px;
        height: 80px;
        padding: 11px;
        border: 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 20px auto;
        box-sizing: border-box;
    }
    .submit{
        color: white;
        font-size: 18px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: 6px;
        text-align: center;
        background-color: #63C6C2;
        margin: 20px 150px 0;
    }
    /*内容*/
    .placecon{
        width: 100%;
        overflow: hidden;
        background-color: #f0f0f0;
    }
    .placenav{
        width: 100%;
        height: 40px;
        margin-top:72px ;
        overflow: hidden;
    }
    .placetao{
        width: 1140px;
        height: 20px;
        margin: 10px auto;
        font-size: 14px;
        color: #B7AEA2;
        line-height: 20px;
    }
    .placetao>a:nth-child(1){
        color: #63C6C2;
        display: inline-block;
        font-size: 12px;
    }
    .placetao>a:nth-child(2){
        color: #63C6C2;
        display: inline-block;
        font-size: 12px;
    }
    .placetao>a:nth-child(3){
        display: inline-block;
        font-size: 12px;
        color: #b7aea2;
        cursor: text;
    }
    .placeban{
        width: 100%;
        height:620px;
        background: url("../img/s-img/place3-2.jpg") no-repeat center/cover;
        position: relative;
    }
    .dan{
        width: 90%;
        max-width: 200px;
        height: 80px;
        margin: 0 auto;
        color: #ffffff;
        background: url("../img/s-img/weedingred.png") no-repeat center/cover;
        background-position-y: -27px;
    }
    .cn{
        line-height: 4.1;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.6px;
        color: #fff;
        margin-left: 25px;
    }
    .en{
        line-height: 4.1;
        font-size: 18px;
        letter-spacing: -0.6px;
        color: #fff;
    }
    .placeban-border{
        margin: 180px auto;
        width: 90%;
        height: 160px;
        opacity: 0.6;
        border-radius: 2px;
        border: solid 0.5px #ffffff;
        overflow: hidden;

    }
    .swiper-container{
        display: block;
    }
    .sub-wrapper{
        width: calc(100% - 20px);
        height: 140px;
        margin: 10px;
        padding-top: 13px;
        border-radius: 2px;
        background: rgba(255,255,255,0.9);
    }
    .placep1{
        margin-top: 30px;
        font-size: 22px;
        letter-spacing: -1px;
        text-align: center;
        color: #544641;
    }
    .placep2{
        font-size: 22px;
        letter-spacing: 4px;
        text-align: center;
        color: #544641;
    }
    #btnpla{
        display: none;
    }
    .plabtn{
        width: 220px;
        height: 60px;
        margin: 0;
        border-radius: 3px;
        background-color: #63c6c2;
        text-align: center;
        display: inline-block;
        border: 0;
        line-height: 30px;
        font-size: 24px;
        color: #fff;
        letter-spacing: -0.4px;
        position: absolute;
        bottom:60px;
        left: 210px;
        z-index: 99;

    }
    /*婚礼场地*/
    .changdi{
        display: none;
    }
    .mobilechangdi{
        width:100%;
        margin: 0 auto;
        display: block;
    }
    .title{
        width: 176px;
        height: 30px;
        line-height: 30px;
        margin: 40px auto 20px;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: -1px;
        color: #544641;
        text-align: center;
    }
    .placebox{
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        background-color: #f0f0f0;
    }
    .placeitem1{
        position: relative;
        overflow: hidden;
        width: calc(100% - 80px);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        height: 648px;
        margin: 0 auto 30px;
    }
    .placeimgs2{
        position: relative;
        width: 100%;
        height: 360px;
        overflow: hidden;
    }
    .placeimgs{
        position: relative;
        width: 100%;
        height: 360px;
        overflow: hidden;
    }
    .imgstao{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .imgstao>img{
        width: 1080px;
        height: 700px;
        z-index: 100;
        float: left;
    }
    .left{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        width: 25px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        background: url(../img/s-img/placeleft.png) no-repeat center;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
    }
    .right{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        width: 25px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        background: url(../img/s-img/placeright.png) no-repeat center;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
    }
    .placenum{
        position: absolute;
        z-index: 1;
        top: 40px;
        right: 30px;
        width: 35px;
        height: 24px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .numtao1{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .numtao2{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        color: #f4f3ee;
    }
    .placon1{
        width: 90%;
        margin: 0 auto;
        line-height: 1.57;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: -0.5px;
        text-align: center;
        color: #000;
    }
    .placewrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 288px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        z-index: 1;
        background-color: #ffffff;
    }
    .titp4{
        width: 100%;
        height: 80px;
        line-height: 80px;
        margin: 20px auto 0;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        position: absolute;
        bottom:0;
        z-index: 9999;
        background-color: rgba(0,0,0,.5);
    }
    /*婚礼亮点*/
    .light{
        display: none;
    }
    .swiper-container{
        width: 460px;
        height: 305px;
        margin: 0 auto;
        background-color: #ffffff;
    }
    .swiper-wrapper{
        width: 517%;
        height: 240px;
    }
    .swiper-slide{
        width: 422px;
        margin-right: 15px;
        float: left;
        position: relative;
    }
    .swiper-slide>img{
        width: 100%;
        height: 240px;
    }
    .placewrapper2{
        z-index: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        text-align: center;
        line-height: 35px;
        border-radius: 2px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        font-size: 15px;
        color: #fff;
    }

    .titp,.titp2{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        text-align: center;
        font-size: 32px;
        color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
        z-index: 1;
    }
    /*.spotlig1{*/
        /*position: absolute;*/
        /*left: 30px;*/
        /*top: 0;*/
        /*bottom: 0;*/
        /*width: 20px;*/
        /*height: 40px;*/
        /*background: url(../img/s-img/spotleft.png) no-repeat center;*/
        /*opacity: 0.35;*/
        /*z-index: 500;*/
        /*cursor: pointer;*/
        /*background-size: 27px 44px;*/
        /*margin: auto 0;*/
    /*}*/
    /*.spotlig2{*/
        /*position: absolute;*/
        /*right: 30px;*/
        /*top: 0;*/
        /*bottom: 0;*/
        /*width: 20px;*/
        /*height: 40px;*/
        /*margin: auto 0;*/
        /*background: url(../img/s-img/spotright.png) no-repeat center;*/
        /*z-index: 500;*/
        /*cursor: pointer;*/
        /*background-size: 27px 44px;*/
        /*opacity: 0.35;*/
    /*}*/
    /*.spotnum{*/
        /*position: absolute;*/
        /*right: 20px;*/
        /*top: 20px;*/
        /*width: 36px;*/
        /*height: 36px;*/
        /*line-height: 36px;*/
        /*text-align: center;*/
        /*border-radius: 50%;*/
        /*background-color: rgba(0,0,0,0.6);*/
        /*font-size: 12px;*/
        /*color: #fff;*/
        /*letter-spacing: -0.4px;*/
        /*z-index: 1;*/
    /*}*/
    /*更多目的地*/
    .more{
        width:100%;
        margin: 0 auto;
        height: 790px;
        background-color: #fff;
    }
    .mudis{
        width:88%;
        margin: 0 auto;
        height: 790px;
    }
    .mudisa{
        position: relative;
        width: 265px;
        height: 180px;
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
        background: darkgray;
        box-sizing: border-box;
    }
    .mudisa>img{
        width: 270px;
        height: 180px;
    }
    .aname{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 140px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
}
