
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color: #333;
}
body{
    color: #333;
    font-size: 14px;
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    overflow-x: hidden;
}
@media (min-width: 641px) {
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    a:hover{
        text-decoration: none;
        color: #333;
    }
    body{
        color: #333;
        font-size: 14px;
        font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
        overflow-x: hidden;
    }
    /*articles*/
    .articles{
        padding-top: 73px;
        background-color: #f5f4ef;
    }
    /*content*/
    .content-1{
        position: relative;
        width: 1140px;
        margin: 10px auto;
    }
    /*left*/
    .left{
        display: inline-block;
    }
    .left-container{
        width: 820px;
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 10px;
        position: relative;
        box-sizing: border-box;
    }
    /*tit*/
    .article-links{
        height: 28px;
    }
    .interval{
        padding: 0;
        color: #b7aea2;
    }
    .category{
        font-size: 12px;
    }
    .category a{
        color: #63c6c2;
        text-decoration: none;
    }
    .article-tit{
        cursor: pointer;
        position: relative;
        padding-bottom: 10px;
        padding-right: 20px;
    }
    .deopdown{
        color: #b7aea2;
    }
    .tip{
        width: 0;
        height: 0;
        border-top: 5px solid #77B5B5;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        top: 6px;
        right: 8px;
    }
    .article-tit:hover .tip{
        transform: rotate(180deg);
    }
    .article-tit:hover .deopdown-menu{
        display: block;
    }
    .deopdown-menu{
        z-index: 1;
        display: none;
        position: absolute;
        top: 23px;
        right: -80px;
        background: #fff;
        list-style: none;
        width: 239px;
        max-height: 300px;
        border-radius: 3px;
        box-shadow: 0 0 0 1px #eee;
    }
    .deopdown-menu li{
        margin: 10px 10px 20px 10px;
        padding: 0 10px;
        border-radius: 3px;
    }
    .deopdown-menu li a{
        color: #544641;
        display: block;
        height: 30px;
        line-height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
    }
    .ul-arrow{
        width: 0;
        height: 0;
        border-bottom: 5px solid #fff;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        top: -5px;
        right: 89px;
    }
    /*文章主体*/
    .article-page{
        width: 820px;
        padding-top: 1px;
        border-radius: 2px;
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    }
    .page-tit{
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 90px;
    }
    .page-tit h1{
        font-size: 24px;
        position: relative;
        line-height: 1.5;
        color: #544641;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .page-tit h1 a{
        position: absolute;
        top: 7px;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        border-radius: 100px;
        background: #63c6c2;
        margin-left: 20px;
        text-decoration: none;
        font-size: 12px;
    }
    .page-con{
        line-height: 1.8;
        margin: 0 90px;
    }
    .page-con p{
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        clear: both;
        min-height: 1em;
        white-space: pre-wrap;
        color: rgb(0, 0, 0);
        font-family: 'MicroSoft YaHei';
        font-size: 14px;
        font-variant-ligatures: normal;
        orphans: 2;
        widows: 2;
        word-wrap: break-word !important;
    }
    .page-con p:nth-child(even){
        height: 25px;
    }
    .page-con p img{
        max-width: 800px;
        width: 100%;
        height: auto;
    }
    .page-con p.tit-1{
        text-align: center;
    }
    .page-con p a{
        color: #337ab7;
        text-decoration: none;
    }
    .page-con p a:hover{
        text-decoration: underline;
    }
    .return{
        padding: 13px 0 30px 0;
        text-align: center;
    }
    .return p{
        margin: 0;
    }
    .return p a{
        font-size: 18px;
        font-weight: normal;
        color: #63c6c2;
    }
    /*right*/
    .right{
        position: absolute;
        left: 860px;
        display: inline-block;
        overflow: hidden;
        width: 280px;
    }
    .uniq{
        margin-left: 0px;
        margin-top: 27px;
        width: 280px;
        float: right;
    }
    .choose{
        width: 100%;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #efefe9;
    }
    .header-banner{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 150px;
        background: url("../img/y-img/articles_show_left.jpg") no-repeat center/cover;
    }
    .uniq-items{
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    .uniq-items>div{
        position: relative;
        height: 110px;
        padding: 15px 20px;
        background-color: #F8F8F5;
        cursor: pointer;
    }
    .uniq-items>div:hover{
        background-color: #fff;
    }
    .reason{
        float: left;
        width: calc(100% - 70px);
    }
    .reason p{
        font-size: 12px;
        color: #918783;
    }
    .reason_tit{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #534641;
    }
    .reason-img{
        float: right;
        width: 60px;
        height: 80px;
        background: url("../img/y-img/pic-1.png") no-repeat center/cover;
    }
    .reason-img-1{
        float: right;
        width: 60px;
        height: 80px;
        background: url("../img/y-img/pic-2.png") no-repeat center/cover;
    }
    .reason-img-2{
        float: right;
        width: 60px;
        height: 80px;
        background: url("../img/y-img/pic-3.png") no-repeat center/cover;
    }
    .suggest-tit{
        margin: 20px;
        margin-bottom: 11px;
        font-weight: 600;
        color: #b7aea2;
        font-size: 14px;
    }
    .suggest-page{
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        padding: 20px;
    }
    .suggest-item{

    }
    .suggest-img{
        float: left;
        height: 60px;
        width: 90px;
        background: url("../img/y-img/pic-4.png") no-repeat center/cover;
    }
    .suggest-img-1{
        float: left;
        height: 60px;
        width: 90px;
        background: url("../img/y-img/pic-5.png") no-repeat center/cover;
    }
    .suggest-img-2{
        float: left;
        height: 60px;
        width: 90px;
        background: url("../img/y-img/pic-6.png") no-repeat center/cover;
    }
    .suggest-con{
        position: relative;
        left: 10px;
    }
    .con-tit{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        color: #544641;
        font-weight: 500;
        line-height: 1.1;
    }
    .suggest-con p{
        font-size: 12px;
        color: #918682;
        margin: 0px;
    }
    .suggest-con p span{
        font-size: 20px;
        color: #f64b19;
    }
    .more{
        font-size: 12px;
        color: #63c6c2;
        float: right;
        position: relative;
        top: 10px;
        font-weight: 500;
    }
    .more a{
        color: #63c6c2;
    }
    .ad{
        position: relative;
        width: 280px;
        height: 250px;
        margin-top: 43px;
        padding-top: 20px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
    }
    .ad p{
        line-height: 1.67;
        margin: 0;
        font-size: 12px;
        letter-spacing: -0.4px;
        text-align: center;
        color: #918682;
    }
    .ad img{
        width: 140px;
        height: 140px;
        margin: 20px 70px 0;
    }
    /*pc端底部链接*/
    .footer-articles{
        position: relative;
        top: -20px;
        width: 100%;
        padding: 50px 0 74px;
    }
    .container-2{
        height: 161px;
        overflow: hidden;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1140px;
        /*overflow: inherit;*/
    }

    .content{
        margin-right: -15px;
        margin-left: -15px;
        width: 1170px;
        height: 1200px;
    }
    .content div {
        width: 16.66666667%;
        float: left;
        height: 30px;
    }
    .footer-articles ul{
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .footer-articles ul li a{
        font-size: 12px;
        color: #666;
    }
    .footer-articles ul li a:hover{
        color:#61c6c2 ;
        text-decoration: none;
    }
    .show-more{
        position: absolute;
        top: 224px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 93px;
        height: 22px;
        font-family: PingFangSC;
        font-size: 16px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #63c6c2;
        cursor: pointer;
    }
    .footer-mask{
        position: absolute;
        top: 114px;
        width: 100%;
        height: 97px;
        background-image: linear-gradient(to bottom, rgba(244,243,238,0), #f4f3ee);
    }
    /*form*/
    .form{
        width: 100%;
        height: 800px;
        background: url("../img/y-img/home_bottom.jpg") no-repeat center/cover #e6e6e6;
    }
    .bg{
        height: 800px;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .form-wrapper{
        position: relative;
        width: 1140px;
        height: 800px;
        margin: 0 auto;
    }
    /*contact-form*/
    .contact-form{
        position: absolute;
        top: 158px;
        right: 72px;
        width: 480px;
        height: 420px;
        color: #fff;
        padding: 20px 0px;
        margin: 16px auto 0;
    }
    .contact-form .title{
        line-height: 1.1;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: -1.2px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact-form .sub-title{
        margin-bottom: 42px;
        font-size: 16px;
        font-weight: 300;
        line-height: 2.12;
        letter-spacing: -0.5px;
    }
    .contact-form form .row{
        width: 480px;
        margin: 20px auto;
        height: 48px;
    }
    .contact-form form .text{
        height: 85px;
    }
    .row input{
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
        outline: none;
    }
    .row .name{
        width: 140px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .row .place{
        width: 182px;
    }
    .row .days{
        width: 156px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .row .phone{
        width: 100%;
        border-radius: 3px;
    }
    .row .comment{
        color: #b6aea2;
        border: none;
        background: white;
        margin: 0;
        outline: none;
        width: 100%;
        height: 80px;
        border-radius: 3px;
        padding: 11px;
        resize: none;
        font: inherit;
    }
    .row button{
        color: white;
        font-size: 18px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: 6px;
        text-align: center;
        background-color: #63C6C2;
        margin-top: 10px;
    }
    /*form-text*/
    .form-text{
        position: absolute;
        top: 197px;
        left: 143px;
        width: 320px;
        height: 200px;
    }
    .form-text p{
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 2.22;
        letter-spacing: normal;
        color: #ffffff;
    }
    .form-text p.tit,.form-text p span.tit{
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
    }
    .form-text p.tit-1{
        font-size: 20px;
        font-weight: 600;
        line-height: 2.0;
    }
    .line{
        position: absolute;
        top: 440px;
        left: 143px;
        width: 144px;
        height: 1px;
        background-color: #ffffff;
    }
    /*footer*/
    .footer{
        width: 100%;
        height: 264px;
        font-size: 12px;
        margin-top: 50px;
        text-align: center;
        color: #669797;
    }
    .footer-container{
        width: 1140px;
        height: 140px;
        margin: auto;
    }
    .footer-list{
        width: 1140px;
        height: 115px;
        margin: 0 auto;
        text-align: center;
    }
    .clearfix{
        width: 1200px;
        height: 17px;
        margin: 10px auto 15px;
    }
    .clearfix li {
        display: inline;
        border-left: 1px solid #669797;
        padding: 0 16px;
        margin-bottom: 17px;
        color: #669797;
    }
    .clearfix li:first-child{
        border-left: none;
    }
    .clearfix li a{
        color: #669797;
    }
    .clearfix li.links a{
        margin-left: 6px;
        color: rgba(255,255,255,0);
    }
    .clearfix li.links a.link{
        position: relative;
    }
    .clearfix li.links a img{
        width: 18px;
        vertical-align: middle;
    }
    .clearfix li.links a img.download{
        width: 150px;
        position: absolute;
        top: -155px;
        left: -67px;
        z-index: 999;
        display: none;

    }
    .clearfix li.links a:hover img.download{
        display: block;
    }
    .footer-content{
        width: 100%;
        height: 124px;
        background-color: #524641;
    }
    .footer-contain{
        width: 1230px;
        height: 124px;
        margin: auto;
    }
    .row{
        margin: 0 -15px;
    }
    .footer-logo{
        width: 25%;
        float: left;
        text-align: right;
    }
    .footer-logo a img{
        position: relative;
        left: -70px;
        width: 176px;
        margin-top: 30px;
    }
    .footer-text{
        width: 74.5%;
        float: right;
    }
    .text-container{
        position: relative;
        width: 100%;
        margin-top: 46px;
        text-align: left;
    }
    .text-container span{
        color: #918682;
        font-size: 11px;
        text-align: left;
        margin: 4px 0;
        padding-right: 14px;
        line-height: 20px;
    }
    .text-container span a{
        color: #918682;
    }
    .header-2{
        display: none;
    }
    .mobile_form{
        display: none;
    }
    .mobile-footer-1{
        display: none;
    }
}
@media (max-width: 640px) {
    /*right*/
    .right{
        display: none;
    }
    .footer-articles{
        display: none;
    }
    .form{
        display: none;
    }
    /*header*/
    .header-2{
        /*position: relative;*/
        background-color: #FFF;
        position: relative;
    }
    .nav-bar1{
        height: 60px;
        z-index: 99999;
        position: fixed;
        right: 0;
        left: 0;
        padding: 15px 0;
        width: 100%;
        background: #fff;
        transition: all 0.15s linear;
        border-bottom: 1px solid #e5e5e5;
    }
    .container-3{
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-header1{
        margin-right: -15px;
        margin-left: -15px;
    }
    .nav-header1 .btn_1{
        margin-top: 0px;
        display: block;
        z-index: 999;
        position: relative;
        float: right;
        margin-bottom: 8px;
        padding: 5px 10px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-right: 15px;
    }
    .nav-header1 .btn_1 span{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #533e3b;
        cursor: pointer;
        margin-bottom: 4px;
    }
    .book-btn{
        font-weight: bold;
        outline: none;
        border: 0;
        font-size: 12px;
        color: #fff;
        margin: 0px 0;
        background-color: #f64b19;
        padding: 0 15px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        margin-right: 5px;
        float: right;
        text-decoration: none;
        position: relative;
    }
    .nav-header1 .nav-logo{
        margin-left: 15px;
        width: 120px;
        margin-right: 30px;
    }
    .nav-header1 .nav-logo img{
        width: 120px;
    }
    .nav-collapse1{
        margin-right: -15px;
        margin-left: -15px;
        max-height: 460px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0);
        background-color: #fff;
        display: none;
        margin-top: 10px;
        clear: both;
    }
    .nav-collapse1 ul{
        left: 0;
        width: 100%;
        border-top: 1px solid #f5f4ef;
        background: #fff;
        margin-bottom: 0;
        float: left;
    }
    .nav-collapse1 ul li{
        background: #fff;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #f5f4ef;
        float: left;
        list-style: none;
        margin-right: 30px;
        padding-bottom: 5px;
    }
    .nav-collapse1 ul li a{
        color: #544641;
        border-bottom: 1px solid #f5f4ef;
        display: block;
        width: 100%;
        height: 50px;
        text-indent: 20px;
        line-height: 50px;
        text-decoration: none;
        font-size: 14px;
        padding-bottom: 3px;
    }
    .nav-collapse1 ul li.on{
        background-color: #f5f4ef;
    }
    /*articles*/
    .articles{
        width: 100% !important;
        margin-top: 0 !important;
        background: #ffffff;
        padding: 0 10px !important;
        overflow: hidden;
    }
    /*content*/
    .content-1{
        position: relative;
        width: 100%;
        margin: 40px 0;
    }
    /*left*/
    .left{
        display: inline-block;
    }
    .left-container{
        width: 100% !important;
        argin: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 10px;
        position: relative;
        box-sizing: border-box;
    }
    /*tit*/
    .article-links{
        display: none;
    }
    /*文章主体*/
    .article-page{
        width: 100% !important;
        padding-top: 25px;
        border-radius: 2px;
        background: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14)
    }
    .page-tit{
        margin: 15px 0 !important;
        background-color: #fff !important;
    }
    .page-tit h1{
        position: relative;
        line-height: 1.5;
        color: #544641;
        font-size: 20px !important;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .page-tit h1 a{
        position: relative;
        top: -2px;
        font-size: 14px !important;
        line-height: 1.5;
        margin-left: 10px;
        display: inline-block;
        height: 22px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        border-radius: 100px;
        background: #63c6c2;
        text-decoration: none;
    }
    .page-con{
        margin: 0;
        line-height: 1.8;
    }
    .page-con p{
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        clear: both;
        min-height: 1em;
        white-space: pre-wrap;
        color: rgb(0, 0, 0);
        font-family: 'MicroSoft YaHei';
        font-size: 14px;
        font-variant-ligatures: normal;
        orphans: 2;
        widows: 2;
        word-wrap: break-word !important;
    }
    .page-con p:nth-child(even){
        height: 25px;
    }
    .page-con p img{
        max-width: 800px;
        width: 100%;
        height: auto;
    }
    .page-con p.tit-1{
        text-align: center;
    }
    .page-con p a{
        color: #337ab7;
        text-decoration: none;
    }
    .page-con p a:hover{
        text-decoration: underline;
    }
    .return{
        padding: 13px 0 30px 0;
        text-align: center;
    }
    .return p{
        margin: 0;
    }
    .return p a{
        font-size: 18px;
        font-weight: normal;
        color: #63c6c2;
    }
    /*mobile_form*/
    .mobile_form{
        height: 600px;
        display: block;
        width: auto;
        position: relative;
        background-color: #e6e6e6;
        border-radius: 4px;
        background: url("../img/y-img/bottom_form_banner_mobile.jpg") no-repeat center/cover;
    }
    .con-form{
        position: static;
        padding-top: 5px;
        width: 80%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        top: 158px;
        right: 72px;
        height: 420px;

    }
    .h1-1{
        line-height: 1.1;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 100;
    }
    .con-form p{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .con-form form{
        position: relative;
        color: #fff;
        text-align: center;
    }
    .con-form form>div{
        width: auto;
        height: 48px;
        margin: 20px auto;
    }
    .con-form form>div input{
        border-radius: 3px;
        color: #b6aea2;
        font-size: 14px;
        float: left;
        border: none;
        background: white;
        margin: 0;
        height: 48px;
        line-height: 20px;
        padding-left: 11px;
        border-right: 1px solid #e6e6e6;
    }
    .con-form form>div input.name-1{
        width: 100%;
    }
    .con-form form>div input.place{
        width: 68%;
    }
    .con-form form>div input.day{
        width: 30%;
        float: right;
    }
    .con-form form>div input.phone-1{
        width: 100%;
        border-radius: 3px;
    }
    .con-form form>div.textarea{
        height: 85px;
    }
    .con-form form>div textarea{
        height: 80px;
        color: #b6aea2;
        border: none;
        width: 100%;
        border-radius: 3px;
        padding: 11px;
        margin-bottom: 0px;
        resize: none;
        font-size: 14px;
    }
    .con-form form>div.sub{
        margin-top: 10px;
    }
    .con-form form>div button{
        color: white;
        font-size: 18px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: 6px;
        text-align: center;
        background-color: #63C6C2;
    }
}